
body
{
    margin: 0px;
    font-family: "Rowdies", cursive;
    background-color:#293241;  
}

.container
{
background-color: rgba(255, 255, 255, .1);
border: 2px solid white;
border-radius: 35px;
color: white;
padding: 60px 68px 40px;
min-height: 700px;
width: 300px;
display: flex;
justify-content: space-around;
flex-direction: column;
}

.container h1
{
    font-size: 50px;
}

